.white{
  width: 80px;
  height: 70px;
  background-color: #fcfcff;
  /* border-collapse: 2px; */
}
.black{
  width: 80px;
  height: 7;
  background-color: green;
  /* border-collapse: 2px; */
}
p{
  text-align: center;
  font-weight:bolder;
 
}
.App table{
  border: 2px solid black;
  margin-left: 240px;
  margin-top:110px ;
  /* border-collapse: 2px; */
  border-collapse: collapse;
}
.App table td{
  border: 2px solid black;
  border-collapse: collapse;
}
body{
  background-color: gray;
}
.App{
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
}